# Capstone Project - Beating the Moneyline - Utilizing Supervised Machine Learning to Predict MLB Game Outcomes.

##

In [1]:
import os
import pandas as pd
from glob import glob

In [3]:
csv_files = glob("./csv_files/*.csv")
csv_files

['./csv_files/sp_stats.csv',
 './csv_files/team_stats.csv',
 './csv_files/batting_stats.csv',
 './csv_files/atl_wins.csv']

In [4]:
type(csv_files)
d = {}

In [5]:
for file in csv_files:
    d[file] = pd.read_csv(file)

In [6]:
d.keys()

dict_keys(['./csv_files/sp_stats.csv', './csv_files/team_stats.csv', './csv_files/batting_stats.csv', './csv_files/atl_wins.csv'])

In [7]:
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") # cleaning the filenames
    filename_df = pd.read_csv(filename, index_col=0)
    csv_files_dict[filename_cleaned] = filename_df

In [8]:
csv_files_dict.keys()

dict_keys(['sp_stats', 'team_stats', 'batting_stats', 'atl_wins'])

In [9]:
for item in csv_files_dict.items():
        print("===============New DF===============")
        print(item[0])
        print(item[1].info())
        print("================End DF===============")

===============New DF===============
sp_stats
<class 'pandas.core.frame.DataFrame'>
Index: 368 entries, Gerrit Cole to Corbin Burnes
Data columns (total 19 columns):
Team        368 non-null object
W           368 non-null int64
L           368 non-null int64
SV          368 non-null int64
G           368 non-null int64
GS          368 non-null int64
IP          368 non-null float64
K/9         368 non-null float64
BB/9        368 non-null float64
HR/9        368 non-null float64
BABIP       368 non-null float64
LOB%        368 non-null object
GB%         368 non-null object
HR/FB       368 non-null object
ERA         368 non-null float64
FIP         368 non-null float64
xFIP        368 non-null float64
WAR         368 non-null float64
playerid    368 non-null int64
dtypes: float64(9), int64(6), object(4)
memory usage: 57.5+ KB
None
================End DF===============
===============New DF===============
team_stats
<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, Astros to Tigers
Data columns (total 19 columns):
G        30 non-null int64
PA       30 non-null int64
HR       30 non-null int64
R        30 non-null int64
RBI      30 non-null int64
SB       30 non-null int64
BB%      30 non-null object
K%       30 non-null object
ISO      30 non-null float64
BABIP    30 non-null float64
AVG      30 non-null float64
OBP      30 non-null float64
SLG      30 non-null float64
wOBA     30 non-null float64
wRC+     30 non-null int64
BsR      30 non-null float64
Off      30 non-null float64
Def      30 non-null float64
WAR      30 non-null float64
dtypes: float64(10), int64(7), object(2)
memory usage: 4.7+ KB
None
================End DF===============
===============New DF===============
batting_stats
<class 'pandas.core.frame.DataFrame'>
Index: 135 entries, Mike Trout to Khris Davis
Data columns (total 21 columns):
Team        135 non-null object
G           135 non-null int64
PA          135 non-null int64
HR          135 non-null int64
R           135 non-null int64
RBI         135 non-null int64
SB          135 non-null int64
BB%         135 non-null object
K%          135 non-null object
ISO         135 non-null float64
BABIP       135 non-null float64
AVG         135 non-null float64
OBP         135 non-null float64
SLG         135 non-null float64
wOBA        135 non-null float64
wRC+        135 non-null int64
BsR         135 non-null float64
Off         135 non-null float64
Def         135 non-null float64
WAR         135 non-null float64
playerid    135 non-null int64
dtypes: float64(10), int64(8), object(3)
memory usage: 23.2+ KB
None
================End DF===============
===============New DF===============
atl_wins
<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 1 to 162
Data columns (total 20 columns):
Date               162 non-null object
Unnamed: 2         162 non-null object
Tm                 162 non-null object
Unnamed: 4         81 non-null object
Opp                162 non-null object
W/L                162 non-null object
R                  162 non-null int64
RA                 162 non-null int64
Inn                19 non-null float64
W-L                162 non-null object
Rank               162 non-null int64
GB                 162 non-null object
Win                162 non-null object
Loss               162 non-null object
Save               80 non-null object
Time               162 non-null object
D/N                162 non-null object
Attendance         161 non-null float64
Streak             162 non-null object
Orig. Scheduled    2 non-null object
dtypes: float64(2), int64(3), object(15)
memory usage: 26.6+ KB
None
================End DF===============

In [10]:
csv_files

['./csv_files/sp_stats.csv',
 './csv_files/team_stats.csv',
 './csv_files/batting_stats.csv',
 './csv_files/atl_wins.csv']

In [2]:
atl_wins_df = pd.read_csv('csv_files/atl_wins.csv')
team_stats_df = pd.read_csv('csv_files/team_stats.csv')
batting_stats_df = pd.read_csv('csv_files/batting_stats.csv') 
sp_stats_df = pd.read_csv('csv_files/sp_stats.csv')

In [3]:
atl_wins_df.head(50)

,Gm#,Date,Unnamed: 2,Tm,Unnamed: 4,Opp,W/L,R,RA,Inn,...,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
0,1,Thursday Mar 28,boxscore,ATL,@,PHI,L,4,10,NaN,...,3,1.0,Nola,Teheran,NaN,3:04,D,44469.0,-,NaN
1,2,Saturday Mar 30,boxscore,ATL,@,PHI,L,6,8,NaN,...,4,2.0,Morgan,Parsons,NaN,3:27,D,44597.0,--,NaN
2,3,Sunday Mar 31,boxscore,ATL,@,PHI,L,1,5,NaN,...,5,3.0,Arrieta,Wright,NaN,3:17,N,41410.0,---,NaN
3,4,Monday Apr 1,boxscore,ATL,NaN,CHC,W,8,0,NaN,...,5,2.5,Parsons,Hendricks,NaN,3:12,N,41912.0,+,NaN
4,5,Wednesday Apr 3,boxscore,ATL,NaN,CHC,W,6,4,NaN,...,3,2.5,Jackson,Cishek,Vizcaino,3:32,N,37398.0,++,NaN
5,6,Thursday Apr 4,boxscore,ATL,NaN,CHC,W,9,4,NaN,...,3,1.5,Fried,Darvish,NaN,3:29,N,33815.0,+++,NaN
6,7,Friday Apr 5,boxscore,ATL,NaN,MIA,W,4,0,NaN,...,3,1.5,Gausman,Lopez,NaN,2:35,N,29218.0,++++,NaN
7,8,Saturday Apr 6,boxscore,ATL,NaN,MIA,L,2,4,NaN,...,3,2.0,Romo,Minter,Conley,3:16,N,35618.0,-,NaN
8,9,Sunday Apr 7,boxscore,ATL,NaN,MIA,W-wo,4,3,NaN,...,3,1.5,Vizcaino,Conley,NaN,2:33,D,32551.0,+,NaN
9,10,Monday Apr 8,boxscore,ATL,@,COL,W,8,6,NaN,...,3,1.5,Teheran,Freeland,Minter,2:59,N,25199.0,++,NaN
10,11,Tuesday Apr 9,boxscore,ATL,@,COL,W,7,1,NaN,...,2,0.5,Fried,Marquez,NaN,3:12,N,26124.0,+++,NaN
11,12,Thursday Apr 11,boxscore,ATL,NaN,NYM,L,3,6,NaN,...,3,1.0,Matz,Gausman,Diaz,3:14,N,24015.0,-,NaN
12,13,Friday Apr 12,boxscore,ATL,NaN,NYM,L,2,6,NaN,...,3,2.0,Wheeler,Wright,NaN,3:07,N,33334.0,--,NaN
13,14,Saturday Apr 13,boxscore,ATL,NaN,NYM,W,11,7,NaN,...,3,1.0,Toussaint,Oswalt,NaN,3:34,N,40117.0,+,NaN
14,15,Sunday Apr 14,boxscore,ATL,NaN,NYM,W,7,3,NaN,...,2,0.5,Teheran,deGrom,NaN,3:36,N,23385.0,++,NaN
15,16,Tuesday Apr 16,boxscore,ATL,NaN,ARI,L,6,9,NaN,...,3,1.0,Hirano,Minter,Holland,3:36,N,22407.0,-,NaN
16,17,Wednesday Apr 17,boxscore,ATL,NaN,ARI,L,2,3,10.0,...,3,2.0,Bradley,Biddle,Holland,3:32,N,22356.0,--,NaN
17,18,Thursday Apr 18,boxscore,ATL,NaN,ARI,L,1,4,NaN,...,4,2.0,Weaver,Soroka,Hirano,3:25,D,24193.0,---,NaN
18,19,Saturday Apr 20 (1),boxscore,ATL,@,CLE,L,4,8,NaN,...,3,2.0,Kluber,Teheran,NaN,3:04,D,NaN,----,2019-04-19 (Inclement weather)
19,20,Saturday Apr 20 (2),boxscore,ATL,@,CLE,W,8,7,NaN,...,3,2.0,Jackson,Cimber,Minter,3:54,N,23035.0,+,NaN
20,21,Sunday Apr 21,boxscore,ATL,@,CLE,W,11,5,NaN,...,2,1.0,Fried,Bieber,NaN,3:22,N,16039.0,++,NaN
21,22,Tuesday Apr 23,boxscore,ATL,@,CIN,L,6,7,NaN,...,3,1.5,Stephenson,Gausman,Iglesias,3:22,N,12789.0,-,NaN
22,23,Wednesday Apr 24,boxscore,ATL,@,CIN,W,3,1,NaN,...,3,0.5,Soroka,Roark,Minter,2:58,N,12949.0,+,NaN
23,24,Thursday Apr 25,boxscore,ATL,@,CIN,L,2,4,NaN,...,3,1.0,Castillo,Teheran,Iglesias,2:54,N,14792.0,-,NaN
24,25,Friday Apr 26,boxscore,ATL,NaN,COL,L,4,8,NaN,...,3,1.5,Senzatela,Fried,Davis,3:21,N,40282.0,--,NaN
25,26,Saturday Apr 27,boxscore,ATL,NaN,COL,L,5,9,NaN,...,3,2.5,Shaw,Minter,NaN,2:58,N,38243.0,---,NaN
26,27,Sunday Apr 28,boxscore,ATL,NaN,COL,W,8,7,NaN,...,3,2.5,Webb,Oh,Jackson,3:47,D,33919.0,+,NaN
27,28,Monday Apr 29,boxscore,ATL,NaN,SDP,W,3,1,NaN,...,2,2.0,Soroka,Margevicius,Webb,2:33,N,19353.0,++,NaN
28,29,Tuesday Apr 30,boxscore,ATL,NaN,SDP,L,3,4,NaN,...,3,2.0,Paddack,Teheran,Yates,2:42,N,18626.0,-,NaN
29,30,Wednesday May 1,boxscore,ATL,NaN,SDP,W,5,1,NaN,...,2,2.0,Fried,Quantrill,NaN,2:39,N,20394.0,+,NaN
30,31,Thursday May 2,boxscore,ATL,NaN,SDP,L,2,11,NaN,...,3,2.5,Strahm,Foltynewicz,NaN,2:53,D,23746.0,-,NaN
31,32,Friday May 3,boxscore,ATL,@,MIA,W,7,2,NaN,...,2,2.5,Toussaint,Urena,NaN,3:08,N,7198.0,+,NaN
32,33,Saturday May 4,boxscore,ATL,@,MIA,W,9,2,NaN,...,2,1.5,Soroka,Anderson,NaN,3:15,N,10229.0,++,NaN
33,34,Sunday May 5,boxscore,ATL,@,MIA,W,3,1,10.0,...,2,1.5,Tomlin,Guerrero,Jackson,3:29,D,11885.0,+++,NaN
34,35,Monday May 6,boxscore,ATL,@,LAD,L,3,5,NaN,...,2,1.5,Buehler,Gausman,Urias,2:45,N,43393.0,-,NaN
35,36,Tuesday May 7,boxscore,ATL,@,LAD,L,0,9,NaN,...,2,2.5,Ryu,Fried,NaN,2:42,N,47337.0,--,NaN
36,37,Wednesday May 8,boxscore,ATL,@,LAD,L,4,9,NaN,...,2,3.5,Kershaw,Foltynewicz,NaN,2:58,N,53707.0,---,NaN
37,38,Thursday May 9,boxscore,ATL,@,ARI,L-wo,2,3,10.0,...,2,4.0,Duplantier,Minter,NaN,3:13,N,17751.0,----,NaN
38,39,Friday May 10,boxscore,ATL,@,ARI,W,2,1,NaN,...,2,3.0,Winkler,López,Jackson,3:00,N,21932.0,+,NaN
39,40,Saturday May 11,boxscore,ATL,@,ARI,W,6,4,NaN,...,2,3.0,Gausman,Kelly,Venters,3:09,N,33168.0,++,NaN
40,41,Sunday May 12,boxscore,ATL,@,ARI,W,5,3,NaN,...,2,3.0,Fried,Godley,Jackson,3:21,D,27460.0,+++,NaN
41,42,Tuesday May 14,boxscore,ATL,NaN,STL,L,3,14,NaN,...,2,3.5,Flaherty,Foltynewicz,NaN,3:00,N,23718.0,-,NaN
42,43,Wednesday May 15,boxscore,ATL,NaN,STL,W,4,0,NaN,...,2,2.5,Soroka,Wacha,Jackson,2:40,N,23367.0,+,NaN
43,44,Thursday May 16,boxscore,ATL,NaN,STL,W,10,2,NaN,...,2,1.5,Teheran,Wainwright,NaN,3:16,N,28783.0,++,NaN
44,45,Friday May 17,boxscore,ATL,NaN,MIL,W,12,8,NaN,...,2,1.5,Fried,Chacin,Jackson,3:25,N,36222.0,+++,NaN
45,46,Saturday May 18,boxscore,ATL,NaN,MIL,W-wo,4,3,10.0,...,2,1.5,Webb,Hader,NaN,3:34,N,39121.0,++++,NaN
46,47,Sunday May 19,boxscore,ATL,NaN,MIL,L,2,3,10.0,...,2,2.5,Hader,Parsons,NaN,2:44,D,36548.0,-,NaN
47,48,Monday May 20,boxscore,ATL,@,SFG,W,4,1,NaN,...,2,2.5,Soroka,Suarez,Newcomb,2:23,N,29815.0,+,NaN
48,49,Tuesday May 21,boxscore,ATL,@,SFG,L-wo,3,4,NaN,...,2,2.5,Gott,Jackson,NaN,3:16,N,28030.0,-,NaN
49,50,Wednesday May 22,boxscore,ATL,@,SFG,W,9,2,NaN,...,2,1.5,Fried,Samardzija,NaN,2:48,N,31402.0,+,NaN

In [13]:
team_stats_df.head()

,Team,G,PA,HR,R,RBI,SB,BB%,K%,ISO,BABIP,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR
0,Astros,2309,6394,288,920,891,67,10.1%,18.2%,0.221,0.296,0.274,0.352,0.495,0.355,125,-9.5,196.6,-2.5,40.8
1,Dodgers,2413,6281,279,886,861,57,9.7%,21.6%,0.215,0.291,0.257,0.338,0.472,0.338,111,11.9,103.0,51.7,34.8
2,Yankees,2312,6245,306,943,904,55,9.1%,23.0%,0.222,0.306,0.267,0.339,0.490,0.346,117,-0.8,130.8,-14.5,32.7
3,Twins,2320,6392,307,939,906,28,8.2%,20.9%,0.224,0.300,0.270,0.338,0.494,0.347,116,-8.4,120.2,-26.7,31.0
4,Athletics,2363,6269,257,845,800,49,9.2%,21.3%,0.199,0.282,0.249,0.327,0.448,0.327,107,-1.7,53.4,18.3,28.5

In [14]:
batting_stats_df.head()

,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,Mike Trout,Angels,134,600,45,110,104,11,18.3%,20.0%,...,0.291,0.438,0.645,0.436,180,7.1,68.2,-0.3,8.6,10155
1,Alex Bregman,Astros,156,690,41,122,112,5,17.2%,12.0%,...,0.296,0.423,0.592,0.418,168,-2.1,58.2,4.8,8.5,17678
2,Christian Yelich,Brewers,130,580,44,100,97,30,13.8%,20.3%,...,0.329,0.429,0.671,0.442,174,8.5,65.2,-3.9,7.8,11477
3,Cody Bellinger,Dodgers,156,660,47,121,115,15,14.4%,16.4%,...,0.305,0.406,0.629,0.415,162,1.4,55.3,3.4,7.8,15998
4,Marcus Semien,Athletics,162,747,33,123,92,10,11.6%,13.7%,...,0.285,0.369,0.522,0.373,137,1.7,37.5,14.1,7.6,12533

In [15]:
sp_stats_df.head()

,Name,Team,W,L,SV,G,GS,IP,K/9,BB/9,HR/9,BABIP,LOB%,GB%,HR/FB,ERA,FIP,xFIP,WAR,playerid
0,Gerrit Cole,Astros,20,5,0,33,33,212.1,13.82,2.03,1.23,0.275,83.3%,40.3%,16.9%,2.50,2.64,2.48,7.4,13125
1,Jacob deGrom,Mets,11,8,0,32,32,204.0,11.25,1.94,0.84,0.282,81.8%,44.4%,11.2%,2.43,2.67,3.11,7.0,10954
2,Lance Lynn,Rangers,16,11,0,33,33,208.1,10.63,2.55,0.91,0.322,74.4%,40.3%,9.9%,3.67,3.13,3.85,6.8,2520
3,Max Scherzer,Nationals,11,7,0,27,27,172.1,12.69,1.72,0.94,0.321,78.7%,40.8%,11.6%,2.92,2.45,2.88,6.5,3137
4,Justin Verlander,Astros,21,6,0,34,34,223.0,12.11,1.70,1.45,0.218,88.4%,35.9%,16.0%,2.58,3.27,3.18,6.4,8700

In [16]:
sp_stats_df.corr()

,W,L,SV,G,GS,IP,K/9,BB/9,HR/9,BABIP,ERA,FIP,xFIP,WAR,playerid
W,1.000000,0.645369,NaN,0.892394,0.892394,0.926055,0.128264,-0.178127,-0.157821,-0.168759,-0.212056,-0.245129,-0.247012,0.854639,-0.204371
L,0.645369,1.000000,NaN,0.854855,0.854855,0.834478,0.016153,-0.175463,-0.097377,-0.119223,-0.175713,-0.178761,-0.191926,0.519866,-0.157495
SV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
G,0.892394,0.854855,NaN,1.000000,1.000000,0.984921,0.117231,-0.213440,-0.162899,-0.184550,-0.244349,-0.267251,-0.274731,0.778819,-0.197564
GS,0.892394,0.854855,NaN,1.000000,1.000000,0.984921,0.117231,-0.213440,-0.162899,-0.184550,-0.244349,-0.267251,-0.274731,0.778819,-0.197564
IP,0.926055,0.834478,NaN,0.984921,0.984921,1.000000,0.111333,-0.208566,-0.160721,-0.184109,-0.237838,-0.261609,-0.268155,0.829339,-0.194578
K/9,0.128264,0.016153,NaN,0.117231,0.117231,0.111333,1.000000,-0.119181,-0.172663,0.247946,-0.122489,-0.336133,-0.448324,0.240553,0.006019
BB/9,-0.178127,-0.175463,NaN,-0.213440,-0.213440,-0.208566,-0.119181,1.000000,0.052791,0.377381,0.609086,0.616923,0.865470,-0.166082,0.111006
HR/9,-0.157821,-0.097377,NaN,-0.162899,-0.162899,-0.160721,-0.172663,0.052791,1.000000,0.179682,0.511803,0.799696,0.314505,-0.206354,-0.039933
BABIP,-0.168759,-0.119223,NaN,-0.184550,-0.184550,-0.184109,0.247946,0.377381,0.179682,1.000000,0.589187,0.343962,0.324799,-0.137284,0.043988
ERA,-0.212056,-0.175713,NaN,-0.244349,-0.244349,-0.237838,-0.122489,0.609086,0.511803,0.589187,1.000000,0.781091,0.738746,-0.207012,0.001171
FIP,-0.245129,-0.178761,NaN,-0.267251,-0.267251,-0.261609,-0.336133,0.616923,0.799696,0.343962,0.781091,1.000000,0.798968,-0.291737,0.028447
xFIP,-0.247012,-0.191926,NaN,-0.274731,-0.274731,-0.268155,-0.448324,0.865470,0.314505,0.324799,0.738746,0.798968,1.000000,-0.271060,0.069770
WAR,0.854639,0.519866,NaN,0.778819,0.778819,0.829339,0.240553,-0.166082,-0.206354,-0.137284,-0.207012,-0.291737,-0.271060,1.000000,-0.146590
playerid,-0.204371,-0.157495,NaN,-0.197564,-0.197564,-0.194578,0.006019,0.111006,-0.039933,0.043988,0.001171,0.028447,0.069770,-0.146590,1.000000

In [17]:
df_atl = atl_wins_df[['Date', 'W/L', 'Win', 'Loss', 'R', 'RA']]

In [18]:
df_atl.head()

              Date W/L      Win       Loss  R  RA
0  Thursday Mar 28   L     Nola    Teheran  4  10
1  Saturday Mar 30   L   Morgan    Parsons  6   8
2    Sunday Mar 31   L  Arrieta     Wright  1   5
3     Monday Apr 1   W  Parsons  Hendricks  8   0
4  Wednesday Apr 3   W  Jackson     Cishek  6   4

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [20]:
pd.value_counts(df_atl['W/L'])

W       89
L       59
W-wo     8
L-wo     6
Name: W/L, dtype: int64

In [45]:
sp_df = sp_stats_df[['Name', 'WAR'
]]

In [50]:
sp_df.head(50)

                 Name  WAR
0         Gerrit Cole  7.4
1        Jacob deGrom  7.0
2          Lance Lynn  6.8
3        Max Scherzer  6.5
4    Justin Verlander  6.4
5      Charlie Morton  6.1
6   Stephen Strasburg  5.7
7        Shane Bieber  5.6
8        Zack Greinke  5.4
9       Lucas Giolito  5.1
10     Walker Buehler  5.0
11       Hyun-Jin Ryu  4.8
12     Patrick Corbin  4.8
13      Jack Flaherty  4.7
14       Zack Wheeler  4.7
15     Mike Clevinger  4.5
16       Jose Berrios  4.4
17   Noah Syndergaard  4.4
18         Sonny Gray  4.4
19      Jake Odorizzi  4.3
20         Mike Minor  4.1
21     Kyle Hendricks  4.1
22      Luis Castillo  4.1
23        Mike Soroka  4.0
24     Marcus Stroman  3.9
25  Eduardo Rodriguez  3.7
26     Marco Gonzales  3.7
27         Chris Sale  3.6
28       James Paxton  3.5
29         Aaron Nola  3.4
30     German Marquez  3.4
31    Clayton Kershaw  3.4
32      Jose Quintana  3.3
33       Matthew Boyd  3.3
34   Brandon Woodruff  3.3
35       Trevor Bauer  3.3
36       Joe Musgrove  3.3
37    Masahiro Tanaka  3.2
38  Madison Bumgarner  3.2
39           Jon Gray  3.1
40     Frankie Montas  3.0
41          Max Fried  2.9
42   Spencer Turnbull  2.9
43       Homer Bailey  2.9
44         John Means  2.8
45         Jon Lester  2.8
46        Blake Snell  2.7
47     Michael Pineda  2.6
48         Yu Darvish  2.6
49        Kyle Gibson  2.5

In [ ]:
s[s.rindex('-')+1:]

In [43]:
sp_df = sp_df.Name.str.split((' ')[-1])

In [44]:
sp_df.head()

0         [Gerrit, Cole]
1        [Jacob, deGrom]
2          [Lance, Lynn]
3        [Max, Scherzer]
4    [Justin, Verlander]
Name: Name, dtype: object